  .a {

    padding-bottom: 20px;
  }

  .a .col-lg-2 {
    padding: 3px;
    margin-left: auto;
  }

  .info{
    color:red;
    font-size: 13px;
  }

  .motachitiet{
    border: 1px solid #ddd !important;
    padding: 10px 20px;
  }
  
  .bl-right li{
    padding-left: 10px;
  }
  .list-home-save{
    display: none;

    padding: 10px 20px 10px 20px;
    background-color:#fff;
    -webkit-box-shadow: 7px 10px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 10px 0px rgba(0,0,0,0.75); 
    box-shadow: 7px 10px 10px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
  }
  .list-home-save ul {
   list-style-type: none;
   margin: 0;
   font-weight: bold;
   padding: 0 0 0 10px;
 }
 .list-home-save ul li a{
  color:#000;
}
.list-home-save ul li a:hover{
  color:blue;

}

.save-home{
  position: fixed;
  top: 10px;
  left: 10px;

}
.img-save{
  transition: all 1s ease;
  animation: heart 1.5s;
}
@keyframes heart {
  0%   {transform: scale(0.4)}
  25%  {transform: scale(1)}
  70%  {transform: scale(1)}
  100% {transform: scale(0.4)}
}
.save-home .btn-success{
  background-color: #1ABC9C !important;
}
.Item {
  height: 180px;
  font-size: 14px;
  margin: 0px 0px 20px 0px;
  padding: 0px 10px 10px 0px;
  border-bottom: 1px solid #F85A16;
}


.btn{
  padding: 10px 10px 10px 10px;
  color: #fff;
}
.btn-facebook
{
  margin-top: 15px;
  background-color:#3b5998;
}

.btn-google
{
  text-align: left;
  width: 197px;
  margin-top: 10px;
  background-color: #c23321;
}
.modal-content{
  max-width: 400px;
}
.Item a {
  color: #994f00 !important;
  font-size: 16px;
  font-weight: bold;
}

.media-body {
  padding-left: 5px;
}

.media-heading {
  line-height: 18px;
  font-size: 23px;

  text-transform: uppercase;
}
.media-heading a{
  text-transform: uppercase;
}
.filter{
  margin: 20px 0px 0px 10px;
  font-size:20px;
}
.filter b{
  border: #F85A16;
}
.searchbar .row {
  padding-top: 10px;
}
.fh5co-nav ul li.has-dropdown:hover ul.dropdown li{
  display: block;
}

.price {
  background-color: #F85A16 ;
  color: #fff;
  border-color: #28a745;
  vertical-align: middle;
  border: 1px solid transparent;
  font-size: 10px;
  font-weight: bold !important;
  float: left;
}

.sitt.active {
  background-color: red;
  color: #fff;
}

.sitt.active a {
  color: #fff !important;
}

.active a {
  color: yellow !important;
}

.location {
 display: block;
 clear: left;

}

label.error{
  color:red;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
}

.area {
  margin-top: 5px;
  padding-left: 10px;
  float: left;
}

.pull-left {
  position: relative;
}

.numpic {
  background: #00000080;
  opacity: 1;
  border-radius: 3px;
  color: #fff;
  position: absolute;
  margin: 5px 0px 0px 5px;
  width: 50px;
}
#dis{
  display: none;
}

.media-object {
  width: 160px;
  height: 140px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

.list-post {
  padding: 0px;
}
.close {
  margin-top: -35px !important;
}
.list-post li {
  list-style-type: none;
}

.sitt a:hover {
  color: #fff !important;
}

.sumary-new {
  color: #888;
}

.area-new {

  float: left;
  font-size: 12px;
  padding-right: 10px;
}

.location-new {

  float: left;
  font-size: 12px;
}

.price-new {
  clear: both;
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: green;
}

.item-new {
  font-size: 13px;
  margin: 0px;
  padding: 15px 10px 0px 5px;
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
}
.footer{
  background: #ff9c33;
  padding: 50px;
}
.footer p{
  margin-top: -8px;
  font-size: 13px;
  line-height: 30px;

}
.footer{
  color:black;
}
.footer h2, .footer h3{
  color:#fff;
}
.footer ul{
  text-decoration: none;
  list-style: none;
  margin-left: -40px;
  font-size: 13px;
}
ul.social-network li a{
  color: #d0d0d0;
  padding: 5px 10px;
  background: #000;
  border-radius: 50%;
}
ul.social-network li{
  display: inline;
  font-size: 14px;
  margin-right: 10px;
}
#home-save{
  display: none;
}
.sub-footer{
  background: #090909;
  padding:30px;
}
.sub-footer ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sub-footer ul>li{
  display: inline-block;
  color: #fff;
  margin-right: 30px;
}
.sub-footer a{
  color: #fff;
  font-size: 13px;
}
.descript_detail p{
  font-size: 14px;
}
.list-post .post-item:first-of-type {
  border-top: 1px solid red;
}

.item-new a {
  color: #994f00  !important;
  font-size: 15px;
  font-weight: bold;
}

.title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.content ul li {
  padding: 5px 0;
  border-bottom: 1px dashed #ddd;
}

.content ul li a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  display: block;
}

.content ul li a:hover {
  color: #b539b0;
}
.block-right{
  z-index: 1;
}
.block-right .content ul>li>a .fa {
  float: right;
}

.title-relate {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #F85A16;;
  color: #fff;
  clear:both;
}

.sidebar-item {
  padding: 15px 10px 15px 10px;
}

.sidebar-item ul {
  list-style-type: none;
  padding: 0px;
}

.item-detail {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  line-height: 15px;
}

.item-title {

  font-size: 12px;
  color: #044A84;
  font-weight: 700;
}

.item-price {
  color: #37a344;
  font-size: 11px;
  font-weight: bold;
  display: block;
  padding-top: 10px;
}

.sidebar-list-item {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.sidebar-item ul li:last-of-type {
  border-bottom: none;
}

.ads {
  margin-top: 10px;
}

.ads img {
  max-width: 100%;
  height: auto;
}

.Main-title {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

.trans-page {
  float: right;
}

.back-page,
.present-page,
.next-page {
  background-color: #eeeeee;
  padding: 8px 15px 8px 15px;
  text-align: center;
}


.pagination{
  float: right !important;
}
.pagination .active{
  color:#ff9c33;
}
.ScrolltoTop {
  width: 50px;
  height: 50px;
  right: 50px;
  bottom: 50px;
  font-weight: 700;
  position: fixed;
  background: url(../img/top.png) center no-repeat;
  background-size: 100%;
  z-index: 99;
  cursor: pointer;
  display: none;
}
.badge{
  color:black;
  background: transparent;
  font-size: 16px;
  font-weight: 580;
}

.linkstype ul li a{
  color:black;
}
.linkstype ul li a:hover{
  color:white;
}
.breadcrumb {
  background-color: transparent;
}

.breadcrumb li a {
  color: #000;
  font-size: 12px;
}

.breadcrumb li a:hover {
  color: blue;
  text-decoration: none;
}

.post-title-lg {
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  color: red;
}

.navigation_post_left {
  padding: 0px;
}

.navigation_post_left ul {
  list-style-type: none;
  padding: 0px;
}

.navigation_post_left ul li {
  text-align: center;
  height: 40px;
  display: inline-block;
  padding: 5px 20px 5px 20px;
}



.navigation_post_left ul li a {
  display: table-cell;
  font-size: 15px;
  color: #666;
  text-transform: uppercase;
}

.navigation_post_left ul li:hover {
  background-color: #d78c28;
}

.navigation_post_left ul li:hover a {
  color: #fff;
  text-decoration: none;
}

.navigation_post_right {
  float: right;
}

.navigation_post_right ul {
  list-style-type: none;
}

.navigation_post_right ul li {
  font-size: 13px;
  display: inline-block;
}

.navigation_post_right ul li>span {
  color: #E74C3C;
}

.navigation_post_right ul li>strong {
  color: #E74C3C;
}

.save {
  background-color: #1ABC9C;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.saves{
  background-color: #1ABC9C;
  padding: 10px;
  color: #fff;
}
.summary_item_headline {
  font-weight: bold;
  width: 130px;
  float: left;
  padding: 10px;
  font-size: 15px;
}

.summary_item_info {
  font-weight: 500;
  font-size: 14px;
  padding: 10px;
}

.summary-address {
  padding: 10px 10px 10px 0px;
  border-top: 1px solid #ddd;
}

.summary_item_info_area,
.summary_item_info_price {
  color: red;
  font-weight: 700;
}

.summary_item_info_phone {
  color: green;
  font-weight: bold;
}

.summary_item_info a {
  color: blue;
}

.summary_item_info a:hover {
  color: red;
  text-decoration: none;
}

.btn_response_phone {
  width: 100%;
  display: none;
  font-size: 16px !important;
  z-index: 1000;
}

.summary-item {
  border: 1px 1px 1px 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.descript_detail h2 {
  padding-top: 10px;
  color: #555;
  text-transform: uppercase;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}

.ycc {
  height: 40px;
  background-color: #f3f3f3;
}

.save {
  height: 40px;
}

.summary-item {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}





.footerM {
  background-image: url(../img/stock-vector-city-vector-icon-background-black-and-white-silhouette-523781863.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

.reg {
  margin-top: 15px;
}

.title-reg {
  background-color: #F85A16;
  font-weight: 500;
  text-transform: uppercase;
  padding: 7px;
  font-size: 16px;
}
.title-reg font{
  color: white;
}
.reg-info{
  padding: 15px;
  box-shadow: 1px 1px 50px 0 #0000004a;
  border: 1px solid #aaa;
  margin-bottom: 40px;
}
.bg-alert{
  background-color: #D9534F;
  color:#ffffff;
  padding: 10px;
  margin-bottom: 10px;

}
.red-require{
  color:red;
  font-weight: 800;
}
.bg-success-info{
  background-color: #dff0d8;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}
.reg-info li{
  font-size: 14px;
}
.bl-left{
  display: none;
}
.menu-1 ul li a {
  font-size: 15px !important;
  font-weight: 600;
}
.menu-1 ul li a:hover{
  color:#ff9c33 !important;
}

